body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
// .App {
// 	display: grid;
// 	grid-template-columns: 1fr 5fr 1fr;
// 	grid-template-rows: 25% 100% auto;
// 	text-align: center;
// }

// .App-header {
// 	background-color: #222;
// 	padding: 20px;
// 	color: white;
// 	grid-column: 1/4;
// 	display: grid;
// 	grid-template-columns: 1fr 0.05fr;
// }
// .App-title {
// 	font-size: 1.5em;
// 	grid-column: 1/2;
// }
// .App-login-button {
// 	grid-column: 2/3;
// 	justify-self: center;
// 	align-self: center;
// }

// .App-intro {
// 	font-size: large;
// 	grid-column: 2/3;
// 	padding: 10px 0 10px 0;
// }
